
.input{
  font-size: 30px;
  text-align: center;
  padding: 5px;
  
}
.random{
  padding: 5px;
  text-align: center;
  font-size: 30px;
  background-color: aquamarine;
}

.main{
  padding: 3px;
  text-align: center;
  background-color: #61dafb ;
}
.prime{
  padding: 5px;
  font-size: 30px;
  text-align: center;
  background-color: yellow;
}
.odd{
  padding: 5px;
  text-align: center;
  font-size: 30px;
  background-color: bisque;
}
.fibo{
  padding: 5px;
  text-align: center;
  font-size: 30px;
  background-color: chartreuse;
}

.App {
  text-align: center;
}
.enter{
  font-size: 30px;
  
}
.ans{
  font-size: 30px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
